@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	.container {
		@apply max-w-[1300px];
	}
	body {
		@apply relative font-inter;
	}
	section {
		@apply py-8 lg:py-10;
	}

	h1 {
		@apply text-[46px] font-black tracking-[0.71px];
	}

	h3 {
		@apply text-2xl font-bold leading-7;
	}

	h2 {
		@apply text-[32px] font-bold leading-9 tracking-[0.5px] xs:text-3xl;
	}
}

@layer components {
	/* Button */
	.btn {
		@apply inline-block max-w-fit rounded-full bg-red-600 px-6 py-4 text-sm font-bold text-white hover:bg-red-700;
	}

	/* Link */
	.link {
		@apply text-red-600 underline-offset-2 hover:underline;
	}

	/* breadcrumbs-item */
	.breadcrumbs-item {
		@apply relative px-3 text-sm text-gray-600 underline-offset-2 after:absolute after:right-0 after:top-0 after:content-['/'] first:pl-0 last:cursor-default last:after:hidden hover:underline;
	}
}

.swiper-button-next,
.swiper-button-prev {
	width: 45px !important;
	height: 45px !important;
	border-radius: 100%;
	background: #000;
}
.swiper-button-next:after,
.swiper-button-prev:after {
	font-size: 18px !important;
	color: white;
}

.swiper-scrollbar-drag {
	background: #e73132 !important;
}

.swiper-home-1,
.swiper-product-1,
.swiper-product-2 {
	.swiper-button-disabled {
		display: none !important;
	}
}

.hidden {
	display: none;
}

.menu {
	position: absolute;
	overflow: hidden;
	width: 280px;
	top: 65px;
	transition:
		transform 0.3s ease-in-out,
		opacity 0.3s ease-in-out;
}

.menu-slide-out {
	transform: translateX(-100%);
	opacity: 0;
}

.menu-slide-in {
	transform: translateX(0);
	opacity: 1;
}

.back-btn img {
	transform: rotate(180deg);
}
